*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: silver;
}

body{
	background-color:#269;
	background-image: linear-gradient(white 2px, transparent 2px),
	linear-gradient(90deg, white 2px, transparent 2px),
	linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
	linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
}

header{
	background-color: rgba(50,50,50,0.7);
	width: 100%;
	height: 100px;
	padding-top: 5px;
	overflow: hidden;
}

#dados-seleccionables{
	height: 100%;
	width: 75%;
	display: inline-block;
	text-align: center;
}

#opciones{
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 24%;
}

#dados-desempate, #controles{
	width: 49%;
	height: 100%;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

#dados-desempate .dado{
	width: 45%;
	height: 70%;
}

.dado{
	display: inline-block;
	background-color: rgba(255,255,255,0.1);
	border: none;
	text-align: center;
	width: 8.675%;
	height: 90%;
	color: white;
	margin: 1px;

}

#dados-seleccionables .dado:hover{
	cursor: move;
	border-color: rgba(255,255,255,0.9);
}

.cubo{
	position: absolute;
	height: 60px;
	width: 60px;
}


.dado div{
	border: 1px solid rgba(255,255,255,0.9);
}

.top{
	background-color: rgba(0,0,0,0.5);
	margin-left: 25%;
	height: 50%;
	width: 50%;

	position: relative;
    transform: rotate(-30deg) skewX(30deg) skewY(0deg) scaleY(0.87);
}

#dados-seleccionables .dado .left, #dados-seleccionables .dado .right{
	height: 30%;
}


.dados-requeridos{
	position: static;
	color: white;
	float: right;
	margin-top: 15%;
	width: 100%;
	transform: rotate(-30deg) skewX(30deg) skewY(0deg) scaleY(0.87);
	background-color: rgba(255,255,255,0.2);
}

.casilla-disponible .dado{
	height: 12.5%;
	width: 90%;
	background-color: transparent;
	display: block !important;
	border: 0px !important;
}

#dados-seleccionables .dado > .top	{height: 47%; width: 47%;}
#dados-seleccionables .dado > .left	{top: -10px;  left: 4px;}
#dados-seleccionables .dado > .right{top: -9px;	  left: -2px;}

.casilla-disponible .dado > .top	{visibility: hidden;}
.casilla-disponible .dado > .left	{top: -4px;	width: 40%;}
.casilla-disponible .dado > .right	{top: -7px;	left: -1px;}

.casilla-disponible	.dado:first-child > .top{visibility: visible; height: 150%;}
.casilla-disponible	.dado:first-child		{margin-bottom: 25%;}


.left{
	background-color: rgba(0,0,0,0.5);
	width: 47%;
	top: -8px;
	left: 4px;
	position: relative;
	display: inline-block;
    transform: rotate(30deg) skewX(30deg) skewY(0deg);
}

.right{
	background-color: rgba(0,0,0,0.5);
	width: 47%;
	top: -8px;
	position: relative;
	display: inline-block;
    transform: rotate(-30deg) skewX(-30deg) skewY(0deg);
}

.madera{
	background-color: #C05501;
	/*background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
	linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
	background-size: 13px, 29px, 37px, 53px;*/
}
.cristal{
	background-color: silver;
	color: black;
	/*background-image: 
	background-color: rgba(255,255,255,0.3); 
	linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
	linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% .9em;*/
}
.piedra{
	background-color: black;
	/*
	background-color: #777777;
	background-image: linear-gradient(335deg, #333333 12px, transparent 12px),
	linear-gradient(155deg, #444444 12px, transparent 12px),
	linear-gradient(335deg, #333333 12px, transparent 12px),
	linear-gradient(155deg, #444 12px, transparent 12px);
	background-size: 29px 29px;	
	background-position: 0px 1px, 2px 17px, 15px 15px, 17px 3px;*/
}
.reciclado{
	background-color: #0F6E2C;
	/*background:
	radial-gradient(circle at 0% 50%, rgba(20, 100, 30, 0) 9px, #0F6E2C 10px, rgba(20, 100, 30, 0) 11px) 0px 10px,
	radial-gradient(at 100% 100%,     rgba(20, 100, 30, 0) 9px, #0F6E2C 10px, rgba(20, 100, 30, 0) 11px),
	#8a3;
	background-size: 20px 20px;*/
}

.mostrarPlano{
	background-color: yellow;
	color: black;
	padding: 10px;
	width: 80%;
}

.ideal{
	background-color: silver;
	height: 25%;
	width: 80%;
	display: block;
	position: static;
	border: 1px solid black;
	color: black;
	font-size: 8px;
	margin-left: 10%;
	transform: rotate(-7.5deg) skewX(7.5deg) skewY(0deg);
}

.siguiente{background-color: green;}
#ver{background-color: #DBB000; padding-top: 2%;}

#siguienteJugador, #ver{
	width: 100%;
	height: 45%;
	font-size: 20px;
}

.desempate{border-color: #DBB000}
.desempate:hover{cursor: default;}

#mainMenu{
	text-align: center;
	background-color: rgba(255,255,255,0.2);
}

#mainMenu, #tablero{
	height: 550px;
	width: 100%;
	/*overflow: hidden;*/
}

.textoConBorde{
	text-shadow:
   -3px -3px 0 white,
    3px -3px 0 white,
   -3px 3px 0 white,
    3px 3px 0 white;
}

.blueprints{
	color: #269;
	font-size: 10em;
}

#numJugadores{
	width: 20%;
	padding: 1%;
	height: 10%;
	color: white;
	font-size: 1.25em;
	text-align: center;
	background-color: #80C080;
}

#iniciarJuego{
	margin: 5px auto;
	background-color: green;
	width: 30%;
	height: 15%;
	color: white;
	font-size: 2em;
	display: block;
	cursor: pointer;
	text-align: center;
}

.cara, .reverso{
	position: absolute;
	backface-visibility: hidden;
}
.reverso{
	transform: rotateY(-180deg);
}

.volteado{
	position: relative;
	transition: all 0s ease;
	transform-origin: 100% 50%;
	transform-style: preserve-3d;
	transform: perspective(550px) rotateY(-180deg) translateX(100%);
}

#mi-construccion-canvas{
	border: 2px solid red;
	vertical-align: top;
	display: inline-block;
	width: 74%;
	height: 100%;
}

.jugador{
	margin-top: 10px;
	display: inline-block;
	width: 24%;
	height: 100%;
	vertical-align: top;
	text-align: center;
}

.jugador label{
	border-radius: 2px;
	padding: 2%;
	background-color: black;
}

.carta{
	border-radius: 15px;
	border: 10px solid white;
	width: 90%;
	height: 85%;
	margin: 5% 2.5% 2.5% 2.5%;
	padding-top: 2.5%;

	background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px;

}

.plano{
	/*transform: rotate(135deg) skewX(45deg) skewY(0deg);*/
	background: transparent; 
	background-color: #269;
}

.casillas-plano{height: 100%;}
.plano-por-hacer{height: 25%;}

.plano-por-hacer, .casillas-plano{
	display: block;
	width: 100%;
}
.casilla{
	vertical-align: top;
	display: inline-block;
	border: 2px solid rgba(255,255,255, 0.5);
	height: 45%;
	width: 30%;
}
.casilla-disponible{
	background-color: transparent;
	overflow: hidden;
}
.casilla-bloqueada{
	background-color: rgba(128,128,128,0.4);
	background-image: repeating-linear-gradient(45deg, transparent, transparent 8px, rgba(128,128,128,.5) 8px, rgba(128,128,128,.3) 16px);
}
.oculto{
	display: none;
	visibility: hidden;
}


.plano q{
	transform: rotate3d(0.3,1,1.5,75deg);
	transform-style: preserve-3d;
}

.casilla-disponible .dado q{
	transform: rotate3d(1,1,1,75deg);
	transform-style: preserve-3d;
}

.girar{
	animation: girando linear infinite 4s;
	transform-style: preserve-3d;
}

.girar:hover{
	animation-play-state: paused;
}

.fondoMovedizo{
	animation: moverFondo linear infinite 60s;
	transition: background-position ease-out;
}

[draggable], .dado, .plano, .carta {
  user-select: none;
}

@keyframes "girando" {
	0% {	transform: rotate3d(0,1,0,0deg);}
	25% {	transform: rotate3d(0,1,0,90deg);}
	50% {	transform: rotate3d(0,1,0,180deg);}
	75% {	transform: rotate3d(0,1,0,270deg);}
	100% {	transform: rotate3d(0,1,0,360deg);}
}

@keyframes "perspectiva" {
	0% {	transform: rotate3d(0,1,0,0deg);}
	100% {	transform: rotate3d(0,1,0,45deg);}
}

@keyframes "moverFondo" {
	0% 	{}
		20% {background-position-y: 452px;}
	25% {background-color: #BF2A47;}
		40% {background-position-x: -220px;}
	50% {background-color: #DBB000;}
		60% {background-position-y: -176px;}
	75% {background-color: #80C080;}
		80% {background-position-x: 58px;}
	100%{background-color: #336699;}
		100% {background-position-y: 190px;}
}

#outer-dropzone {
    height: 140px;
}

#inner-dropzone {
    height: 80px;
}

.drop-target {
    background-color: #29e;
}

.drag-drop {
    display: inline-block;
    min-width: 40px;
    padding: 2em 0.5em;

    background-color: red;
    border: solid 2px white;

    transition: background-color 0.3s;
}

.can-drop {
	height: 25%;
    background-color: #4e4;
}

.animada{
	animation-duration: 1s;
	animation-name: brillar;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes brillar{
	from{background-color: rgba(240,240,240,0.1);}
	66% {background-color: rgba(240,240,240,0.4);}
	to  {background-color: rgba(240,240,240,0.1);}
}
/* Smartphones (portrait & landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	.jugador{
		width: 92.5%;
		display: block;
		margin-bottom: 625px;
	}

	.carta{
		width: 100%;
		height: 175%;
	}
}

/* Smartphones (landscape) */
@media only screen and (min-width : 321px) {
		
}

/* Smartphones (portrait) */
@media only screen and (max-width : 320px) {
	
}

/* iPads (portrait & landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* iPads (landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* iPads (portrait) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}

/* Ordenadores de sobremesa y portátiles */
@media only screen and (min-width : 1224px) {

}

/* Pantallas grandes */
@media only screen and (min-width : 1824px) {

}